@import 'tailwindcss';

@theme {
  --color-phisward-primary: #102A43;
  --color-phisward-secondary: #2C5E8A;
  --color-phisward-third: #6FA3BF;
  --color-phisward-fourth: #E8EDEF;
}

button:not(:disabled),
[role="button"],
a,
input[type="button"]:not(:disabled),
input[type="submit"]:not(:disabled),
input[type="reset"]:not(:disabled),
input[type="checkbox"]:not(:disabled),
input[type="radio"]:not(:disabled),
input[type="range"]:not(:disabled),
select:not(:disabled),
summary {
  cursor: pointer;
}
